#root {
  width: calc(100vw - 4rem);
  height: calc(100vh - 4rem);
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

header {
  width: 100%;
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid #555;
  padding-bottom: 2rem;
  margin-bottom: 2rem;
}

.balance {
  display: flex;
}

.balance button {
  margin-left: 2rem;
}

.transfer {
  display: flex;
  align-items: center;
}

.transfer input {
  height: 20px;
  padding: 5px 10px;
  margin-left: 1rem;
}

.transfer button {
  margin-left: 1rem;
}